@model List<Sporting_Events.Models.Competition>

@{
    ViewData["Title"] = "Работа с мероприятиями";
}

<h1>Работа с мероприятиями</h1>

<p>
    <a asp-action="Create">Создать мероприятие</a>
</p>
@foreach (var c in Model)
{
    <div class="competition-card d-flex">
        <div class="img-container">
            @if (c.AppFile != null)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(c.AppFile.Content))" class="card-img-top competition-image" alt="Фото">
            }
            else
            {
                <img src="https://via.placeholder.com/300/f1accd" class="card-img-top competition-image" alt="Фото">
            }
        </div>
        <div class="competition-card-info">
            <div class="mb-2">
                <span>@c.Date</span>
            </div>
            <div class="mb-2">
                <h5>@c.Name</h5>
            </div>
            <div class="mb-2">
                <p class="card-text">@c.Description</p>
            </div>
            <div class="competition-location">
                <span>@c.Location</span>
            </div>
        </div>
        <div class="competition-card-actions">
            <div>
                @if (c.MembersCount > c.Accounts.Where(a => a.RoleId == 2).ToList().Count)
                {
                    <span>Мест осталось: </span><span>@(c.MembersCount - c.Accounts.Where(a => a.RoleId == 2).ToList().Count)</span>
                }
                else
                {
                    <span>Нет мест</span>
                }
            </div>
            <span class="competition-prizepool">@c.PrizePool &#x20bd;</span>
            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@c.Id">Подробнее</a>
            @if (DateTime.Now.CompareTo(c.ExpDate) < 0)
            {
                <a class="btn btn-outline-primary" asp-action="Update" asp-route-id="@c.Id">Редактировать</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@c.Id">Удалить</a>
            }
            else
            {
                <span>Завершено</span>
            }

        </div>
    </div>
}
