@model List<Sporting_Events.Models.Competition>
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column">
    <h1 class="display-4 align-self-center">Спортивные события</h1>
    @foreach (var c in Model)
    {
        <div class="competition-card d-flex">
            <div class="img-container">
                @if (c.AppFile != null)
                {
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(c.AppFile.Content))" class="competition-image" alt="Фото">
                }
                else
                {
                    <img src="https://via.placeholder.com/300/f1accd" class="competition-image" alt="Фото">
                }
            </div>
            <div class="competition-card-info">
                <div class="mb-2">
                    <span>@c.Date</span>
                </div>
                <div class="mb-2">
                    <h5>@c.Name</h5>
                </div>
                <div class="mb-2">
                    <p class="card-text">@c.Description</p>
                </div>
                <div class="competition-location">
                    <span>@c.Location</span>
                </div>
            </div>
            <div class="competition-card-actions">
                <div>
                    @if (c.MembersCount > c.Accounts.Where(a => a.RoleId == 2).ToList().Count)
                    {
                        <span>Мест осталось: </span><span>@(c.MembersCount - c.Accounts.Where(a => a.RoleId == 2).ToList().Count)</span>
                    }
                    else
                    {
                        <span>Нет мест</span>
                    }
                </div>
                <span class="competition-prizepool">@c.PrizePool &#x20bd;</span>
                @{
                    @if (DateTime.Now.CompareTo(c.ExpDate) < 0)
                    {
                        Account account = ViewBag.Account;
                        @if (account != null && account.Requests.Exists(r => r.CompetitionId == c.Id))
                        {
                            <form method="post" asp-controller="Request" asp-action="Delete">
                                <input type="hidden" name="id" value="@account.Requests.FirstOrDefault(r => r.CompetitionId == c.Id).Id" />
                                <input type="submit" value="Отменить заявку" class="btn btn-outline-success" />
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-controller="Request" asp-action="Create">

                                @if (User.IsInRole("sportsman") && c.MembersCount > c.Accounts.Where(a => a.RoleId == 2).ToList().Count)
                                {
                                    <input type="hidden" name="compId" value="@c.Id" />
                                    <input type="submit" value="Отправить заявку" class="btn btn-outline-success" />
                                }
                                else
                                {
                                    <input type="submit" disabled value="Отправить заявку" class="btn btn-outline-dark" />
                                }
                            </form>
                        }

                    }
                    else
                    {
                        <a class="btn btn-outline-primary" asp-controller="Competition" asp-action="Details" asp-route-id="@c.Id">Результаты</a>
                    }
                }
            </div>
        </div>
    }
</div>
